

<div class="card mb-1">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">ID</h6>
        <a class="card-text" [routerLink]="['bid']" >{{declining?.uri?.split('/')[2]}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Starting price </h6>
        <p class="card-text">{{declining.startingPrice}}</p>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Ending price</h6>
        <p class="card-text">{{declining.endingPrice}}</p>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Expiration date Bid </h6>
        <p class="card-text" >{{declining.expiration | date : "medium"  }}</p>
      </div>
    </div>
  </div>
</div>

