<!-- <app-bid-search (emitResults)="detail($event)"></app-bid-search> -->
<div class="card-block row m-1 col-12">
  <div class="card-body row align-items-center">

    <div class="col-4 mt-2" >
      <a  [routerLink]="['../fixedPriceOffers']" > <button type="button" class="btn m-1 btn-primary pull-right"> Fixed Price Offer</button></a>
    </div>
    <div class="col-4 mt-2" >
      <a href="#"> <button type="button" class="btn m-1 btn-primary pull-right"> Declining Price Offer</button></a>
    </div>
    <div class="col-4 mt-2" >
      <a  [routerLink]="['../highestBidOffers']" > <button type="button" class="btn m-1 btn-primary pull-right"> Highest Bid Offer</button></a>
    </div>

  </div>
</div>
<div class="card mb-1" *ngFor="let offer of offers">

  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">ID</h6>
        <a class="card-text" [routerLink]="[offer.uri]">{{offer.uri.split('/')[2]}}</a>
      </div>

      <div class="col-5 mt-1">
        <h6 class="card-subtitle text-muted">Data</h6>
        <p class="card-text">{{offer.dateTime | date : "medium"}}</p>
      </div>
      <div class="pt-3 pl-5 justify-content-end">
        <button  type="submit" class="btn p-0 mr-2 ml-2 bi-trash fa-lg" (click)="deleteRow(offer) "></button>
      </div>

      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Tipus</h6>
        <p class="card-text" >{{offer.uri.split('/')[1]}}</p>
      </div>


    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalOffers"
                (pageChange)="changePage()"></ngb-pagination>
