<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{user.id}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Username</h6>
        <p class="card-text">{{user.id}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">E-Mail</h6>
        <p class="card-text">{{user.email}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Role</h6>
        <p class="card-text">{{user.getRoles().join(', ')}}</p>
      </div>
      <div class="col-md-4 p-3" >
        <h6 class="card-subtitle text-muted" >Favorite NFTs:</h6>
        <div *ngFor="let item of user.favoriteNFTs, let i = index">
        <p class="card-text"  [attr.data-index]="i" (click)="open(content3)">{{item.title}}</p>
        <ng-template #content3 let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h3 class="modal-title m-auto" id="modal-basic-title">NFT details</h3>
            <button type="button" class="close border-0" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body container d-flex row">
            <div class="col-5 p-5 m-auto text-center d-flex row">
              <img src={{item.content}}>
              <h5 class="m-auto">{{item.title}}</h5>
            </div>
            <div>
            <h5 class="card-subtitle text-muted ">- Description: </h5>
            <p class="ml-3 pl-3 pt-2">{{item.description}}</p>
            <h5 class="card-subtitle text-muted ">- Keywords: </h5>
            <p *ngFor="let keyword of item.keywords" class="ml-3 pl-3 pt-2 pb-0">{{keyword}}</p>
            <h5 class="card-subtitle text-muted ">- Category: </h5>
            <p class="ml-3 pl-3 pt-2">{{item.category}}</p>
            </div>

          </div>

        </ng-template>
      </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button id="walletBtn" type="button" *ngIf="getCurrentUser().id == user.id" [routerLink]="['wallet']"
              class="btn m-1 btn-outline-secondary">Wallet
      </button>
      <button id="listBtn" type="button" [routerLink]="['/users']"
              class="btn m-1 btn-outline-primary">User List
      </button>
      <button id="editBtn" type="button" *ngIf="getCurrentUser().id == user.id" [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button" *ngIf="getCurrentUser().id == user.id" [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>
  </div>

</div>
