<button id="userDetail" type="button" [routerLink]="['/nFTs']"
        class="btn m-1 btn-outline-primary pull-right">Back</button>
<div class="card mb-4">
  <div class="card-block">
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Title</h6>
        <p class="card-text">{{nft.title}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{nft.description}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Category</h6>
        <p class="card-text">{{nft.category}}</p>
      </div>
    </div>
  </div>

</div>
