<button id="userDetail" type="button" [routerLink]="['/nFTs']"
        class="btn m-1 btn-outline-primary pull-right">Back</button>
<div class="card mb-4">
  <div class="card-block">
    <div class="row flex-fill">
      <div class="col-5 p-5 text-center">
        <img src={{nft.content}}>
      </div>
      <div class="d-flex flex-column flex-fill">
        <div class="pt-5 h4">
          <p class="card-text">{{nft.title}}</p>
        </div>
        <div class = "d-flex flex-row w-100">
          <div class="pt-3 pl-2 pb-5 text-center">
            <p class="card-text text-center"><i class="bi-person-fill fa-lg pr-2"></i>{{nft.owner.id}}</p>
          </div>
            <div class="pt-3 pl-5 justify-content-end">
              <button type="submit" class="btn my-0 p-0 pl-1 pr-2" (click)="onSubmit()"><span class="bi-heart fa-lg"></span></button>
            </div>
          <p class="card-text text-center pt-3">0 favorites</p>
        </div>
        <div class="nav-item" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="playerDropdownNTF" role="button"
             aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Create an offer</a>
          <div class="dropdown-menu" aria-labelledby="playerDropdownBid" ngbDropdownMenu>
            <a class="dropdown-item"
               [routerLink]="['/nFTs/']"> FixedPriceOffer</a>
            <a class="dropdown-item"
               [routerLink]="['/nFTs/']"> DecliningPriceOffer</a>
            <a class="dropdown-item"
               [routerLink]="['/highestBidOffers/add/',nft.uri.split('/')[2]]"> HighestBidOffer</a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">

      <div class="col-5 p-5">
        <h6 class="card-subtitle pl-4 pb-3 h5">Description</h6>
        <p class="card-text pl-2">{{nft.description}}</p>
      </div>
      <div class="col-5 p-5">
        <h6 class="card-subtitle pl-4 pb-3 h5">Category</h6>
        <p class="card-text">{{nft.category}}</p>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class = "col-1" *ngFor="let keyword of nft.keywords">
        <div class="col-1 p-1 row text-center">
          <h6 class="card-subtitle text-muted">Keyword</h6>
          <p class="card-text">{{keyword}}</p>
        </div>
      </div>
    </div>

</div>
</div>
