<button id="userDetail" type="button" [routerLink]="['/nFTs']"
        class="btn m-1 btn-outline-primary pull-right">Back</button>
<div class="card mb-4">
  <div class="card-block">
    <div class="row">
      <div class="col-5 p-5 text-center">
        <p class="card-text">{{nft.content}}</p>
      </div>
      <div class="col-2 p-5 text-center">
        <p class="card-text">{{nft.title}}</p>

        <p class="card-text">{{nft.owner.id}}</p>
      </div>
    </div>
    <div class="card-body row m-1">

      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{nft.description}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Category</h6>
        <p class="card-text">{{nft.category}}</p>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class = "col-1" *ngFor="let keyword of nft.keywords">
        <div class="col-1 p-1 row text-center">
          <h6 class="card-subtitle text-muted">Keyword</h6>
          <p class="card-text">{{keyword}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
