<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/about']">My<b>NFT</b>Mkt</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item" *ngIf="isRole('admin') || isRole('user')" ngbDropdown>
        <a class="nav-link dropdown-toggle" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Offers</a>
        <div class="dropdown-menu" aria-labelledby="playerDropdownBid" ngbDropdownMenu>
          <a class="dropdown-item"
             [routerLink]="['//search-by-price']"><span class="fas fa-user-circle"></span>Search By Price </a>
          <a class="dropdown-item"
             [routerLink]="['/offers']"><span class="fas fa-list"></span> List Offers </a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isRole('admin')" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="playerDropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Users</a>
        <div class="dropdown-menu" aria-labelledby="playDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/users']"><span class="fas fa-user-circle"></span> List</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isRole('admin') || isRole('user')" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/sales']">Sales</a>
      </li>
      <li class="nav-item" *ngIf="isRole('admin') || isRole('user')" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="playerDropdownNFT" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>NFT's</a>
        <div class="dropdown-menu" aria-labelledby="playerDropdownNFT" ngbDropdownMenu>
          <a class="dropdown-item"
             [routerLink]="['/nFTs']"><span class="fas fa-list"></span> List NFT</a>
          <a class="dropdown-item"
             [routerLink]="['/nFTs/create']"><span class="fas fa-user-circle"></span> Create NFT</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isRole('admin') || isRole('user')" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/bids']">Bids</a>
      </li>
      <li class="nav-item" *ngIf="isRole('admin') || isRole('user')" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/sales']">Sales</a>
      </li>
    </ul>
    <ul class="navbar-nav" app-login-navbar></ul>
  </div>
</nav>
