<div class="card-block row m-1 col-12">
  <div class="card-body row align-items-center">

      <div class="row">
        <div class="card" style="width: 18rem;" *ngFor="let fixedPriceOffer of fixedPriceOffers">
          <p>{{fixedPriceOffer.nft}}</p>
          <div class="card-body">
            <h5 class="card-title">Preu Actual: {{fixedPriceOffer.price}}</h5>
            <p class="card-text"><b>Data: {{fixedPriceOffer.dateTime}}</b></p>
            <a href={{fixedPriceOffer.uri}} class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

</div>


