.css_card{
  background: #FFF785;
  margin: 10px;
  padding: 20px;
  border-left: 2px;
  min-width: 250px;
  max-width: 700px;
  border:1px solid black;

  align-items: center;
}

.css_card *{
  margin: 15px;
  text-align: center;
}

.css_card div_image{
  height:50%;
  margin: 0 auto;
}

.css_card div_info{
  height:50%;
  margin: 0 auto;
}

.css_card h3{
  align: center;
  color: #5026AD;
  text-align: center;
}

.css_card h4{
  display: inline;
  color: #9669FA;
  text-shadow: 0 0 20px white;
}

.css_card p{
  display: inline;
  color: #9669FA;
  font-size: x-large;
}

