<div class="d-flex justify-content-center flex-row">
  <div class="flex-fill d-flex justify-content-center flex-column">
    <h1 class="display-5 fw-bold lh-1 mb-3 m-auto">{{user.getCurrencySymbol()}}{{user.balance}}</h1>
    <p class="lead">Account balance</p>
  </div>
  <div class="flex-fill d-flex justify-content-center flex-column">
    <h1 class="display-5 fw-bold lh-1 mb-3 m-auto">0</h1>
    <p class="lead">NFTs owned</p>
  </div>

</div>
<!-- Deposit, create a modal view -->
<div class="labelContainer">
  <div class="d-flex justify-content-start align-content-center align-self-center">
    <h2 class="lead">Change balance </h2>
  </div>
<div>
<label class="btn m-1 btn-outline-success bigButton" for="deposit" (click)="open(content)">Deposit</label>
<label class="btn m-1 btn-outline-secondary bigButton" for="withdrawal" (click)="open(content2)">Withdraw</label>
</div>

</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add money to your account!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="deposit-form" (ngSubmit)="onSubmitDeposit()" #form="ngForm">
      <fieldset>
        <div class="form-group">

          <input id="deposit" name="deposit" type="number" class="form-control" [(ngModel)]="moneyToAdd" >

        </div>
      </fieldset>
      <div class="modal-footer">
        <button id="submitDeposit" type="submit" class="btn m-1 btn-success pull-right" (click)="d('Submit')"
                [disabled]="!form.form.valid" >Submit</button>
      </div>
    </form>
  </div>

</ng-template>


<!-- Withdrawal, create a modal view -->



<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Withdraw money from your account!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form id="withdrawal-form" (ngSubmit)="onSubmitWithdrawal()" #form="ngForm">
      <fieldset>
        <div class="form-group">

          <input id="withdrawal" name="withdrawal" type="text" class="form-control" [(ngModel)]="moneyToWithdraw" >

        </div>
      </fieldset>
      <div class="modal-footer">
        <button id="submitWithdrawal" type="submit" class="btn m-1 btn-success pull-right" (click)="d('Submit')"
                [disabled]="!form.form.valid">Submit</button>
      </div>
    </form>
  </div>

</ng-template>
<!-- Change the currency, default to euro -->


<!-- Button go back-->
<button id="userDetail" type="button" [routerLink]="['/users/'+getCurrentUserName()]"
        class="btn m-1 btn-outline-primary pull-right">Back</button>

