<form id="bid-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Username input -->
    <div class="form-group">
      <label class="control-label" for="minimumBid">Minimum Bid price *</label>
      <input id="minimumBid" name="price" type="number" class="form-control" required
             [(ngModel)]="highestBidOffer.minimumBid" #price="ngModel">
      <div class="invalid-feedback">Minimum Bid price is required</div>
    </div>

    <div class="form-group">
      <label class="control-label" for="reservePrice">Reserve Price Bid *</label>
      <input id="reservePrice" name="price" type="number" class="form-control" required
             [(ngModel)]="highestBidOffer.reservePrice" #price="ngModel">
      <div class="invalid-feedback">Reserve Price Bid is required</div>
    </div>

    <div class="form-group">
      <label class="control-label" for="expiration">Expiration date Bid *</label>
      <input id="expiration" name="price" type="date" class="form-control" required
             [(ngModel)]="highestBidOffer.expiration" #price="ngModel">
      <div class="invalid-feedback">Expiration date Bid is required</div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" (click)="onCancel()" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>

  </fieldset>
</form>
