<div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex" *ngFor="let nft of NFTs">
      <div class="card h-75" [routerLink]="[nft.uri]">
        <img src="{{nft.content}}" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title">{{nft.title}}</h5>
            <div class="d-flex flex-column flex-fill text-right">
              <p class="text-muted">Top bid</p>
              <p *ngIf="!checkIfEmpty(highestBidOffer)">€ {{highestBidOffer.minimumBid}}</p>
              <p *ngIf="!checkIfEmpty(fixedPriceOffer)">€ {{fixedPriceOffer.price}}</p>
              <p *ngIf="!checkIfEmpty(decline)">€ {{decline.startingPrice}}</p>
            </div>gi
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalNFTs"
                (pageChange)="changePage()"></ngb-pagination>
</div>
