<div class="w-100 h-100 bg-light">
  <div class="d-flex flex-row w-100 h-25 mb-3">
    <div class="w-50 d-flex">
      <div class="w-25">
      </div>
      <div class="w-50 h-100 d-flex flex-column align-items-center justify-content-center rounded-pill bg-white mt-3">
        <h1 class="display-5">0</h1>
        <p class="lead">Account balance</p>
      </div>
    </div>
    <div class="w-50 d-flex">
      <div class="w-25">
      </div>
      <div class="w-50 h-100 d-flex flex-column align-items-center justify-content-center rounded-pill bg-white mt-3">
        <h1 class="display-5">0</h1>
        <p class="lead">NFTs owned</p>
      </div>
    </div>
  </div>
</div>
