<app-nft-search (emitResults)="detail($event)"></app-nft-search>

<div class="card mb-1" *ngFor="let nft of NFTs">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Title</h6>
        <a class="card-text" [routerLink]="['/nFTs', nft.id]">{{nft.title}}</a>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalNFTs"
                (pageChange)="changePage()"></ngb-pagination>
