<div class="card mb-1">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Keywords</th>
          <th scope="col">Category</th>
          <th scope="col">MediaType</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let nft of nfts">
          <th scope="row">{{nft.uri.split('/')[2]}}</th>
          <th scope="col">{{nft.title}}</th>
          <th scope="col">{{nft.description}}</th>
          <th scope="col">{{nft.keywords}}</th>
          <th scope="col">{{nft.category}}</th>
          <th scope="col">{{nft.mediaType}}</th>

          <th scope="col">

            <div class="nav-item" ngbDropdown>
              <a class="nav-link dropdown-toggle" id="playerDropdownNTF" role="button"
                 aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Create an offer</a>
              <div class="dropdown-menu" aria-labelledby="playerDropdownBid" ngbDropdownMenu>
                <a class="dropdown-item"
                   [routerLink]="['fixedPriceOffers/add/',nft.uri.split('/')[2]]"> FixedPriceOffer</a>
                <a class="dropdown-item"
                   [routerLink]="['/nFTs/']"> DecliningPriceOffer</a>
                <a class="dropdown-item"
                   [routerLink]="['/highestBidOffers/add/',nft.uri.split('/')[2]]"> HighestBidOffer</a>
              </div>
            </div>

          </th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalNfts"
                (pageChange)="changePage()"></ngb-pagination>
