<!-- <app-bid-search (emitResults)="detail($event)"></app-bid-search> -->
<div class="card-block row m-1 col-12">
  <div class="card-body row align-items-center">

    <div class="col-3 mt-2" >
      <a  href="#" > <button type="button" class="btn m-1 btn-primary pull-right"> Fixed Price Offer</button></a>
    </div>
    <div class="col-3 mt-2" >
      <a href="#"> <button type="button" class="btn m-1 btn-primary pull-right"> Declining Price Offer</button></a>
    </div>

    <div class="col-3 mt-2" >
      <a  [routerLink]="['../offers']" > <button type="button" class="btn m-1 btn-primary pull-right"> All offers</button></a>
    </div>

  </div>
</div>

<div class="card mb-1" *ngFor="let highestBidOffer of highestBidOffers">
  <div class="card-block row m-1 col-12">
    <div class="card-body row align-items-center">
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">ID</h6>
        <a class="card-text" [routerLink]="[highestBidOffer.uri]" >{{highestBidOffer.uri.split('/')[2]}}</a>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Minimum Bid price </h6>
        <p class="card-text">{{highestBidOffer.minimumBid}}</p>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Reserve Price Bid</h6>
        <p class="card-text">{{highestBidOffer.reservePrice}}</p>
      </div>
      <div class="col-6 mt-1">
        <h6 class="card-subtitle text-muted">Expiration date Bid </h6>
        <p class="card-text" >{{ highestBidOffer.expiration | date : "medium"  }}</p>
      </div>
    </div>
  </div>
</div>

<ngb-pagination class="d-flex justify-content-center"
                [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalHighestBidOffer"
                (pageChange)="changePage()"></ngb-pagination>
